.flex {
    display: flex;
    flex-wrap: nowrap;
}

.split {
    height: 250px; 
    width: 50%; 
    margin: 1rem;
}

.grey-box {
    background-color: #dedede;
}

.green-box {
    background-color: #90b17f;
}

.iconWidth {
    width: 30px;
}